@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <body class="justify-content-center">
        <div class="text-center">
            <h1 class="fw-bold text-secondary">WELCOME KEVIN</h1>
            <div class="top-100 bottom-100">
                <h2 lass="justify-content-center">...</h2>
            </div>
            <button class="btn btn-secondary text-white" asp-area="" asp-controller="Claims" asp-action="Index">Manage Claims</button>
        </div>
    </body>
</div>
