<div class="container mt-4">
    <button class="btn btn-secondary text-white">New Claim</button>

    <table class="table">
        <thead>
            <tr>
                <th>Claim Number</th>
                <th>Status</th>
                <th>Documentation</th>
                <th>Total overtime</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12345</td>
                <td class="text-warning">Pending</td>
                <td>Overtime.docx</td>
                <td>15 hours</td>
            </tr>
            <tr>
                <td>12344</td>
                <td class="text-success">Accepted</td>
                <td>Overtime.docx</td>
                <td>15 hours</td>
            </tr>
        </tbody>
    </table>
</div>
